[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sai krishna chaitanya kotla (Caitanyakotla)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sai krishna chaitanya kotla (Caitanyakotla)
	label-Verified = -1..+1 group user/sai krishna chaitanya kotla (Caitanyakotla)
	push = group user/sai krishna chaitanya kotla (Caitanyakotla)
	read = group user/sai krishna chaitanya kotla (Caitanyakotla)
	rebase = group user/sai krishna chaitanya kotla (Caitanyakotla)
	removeReviewer = group user/sai krishna chaitanya kotla (Caitanyakotla)
	submit = group user/sai krishna chaitanya kotla (Caitanyakotla)
[access "refs/heads/*"]
	create = group user/sai krishna chaitanya kotla (Caitanyakotla)
	push = +force group user/sai krishna chaitanya kotla (Caitanyakotla)
	pushMerge = group user/sai krishna chaitanya kotla (Caitanyakotla)
	read = group user/sai krishna chaitanya kotla (Caitanyakotla)
[access "refs/tags/*"]
	push = group user/sai krishna chaitanya kotla (Caitanyakotla)
	push = +force group user/sai krishna chaitanya kotla (Caitanyakotla)
